.root {
  li {
    display: inline-block;

    a {
      display: inline-flex;
      justify-content: center;
      color: #282828;
      text-align: center;
      border: 1px #282828 solid;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      line-height: 42px;
      margin-right: 10px;
      margin-bottom: 70px;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: #282828;
      }
    }
  }
  :global{
    .selected{
        a{
            color: white;
            background-color: #282828;
        }
        
    }
  }
}
